*{margin: 0;  padding:0;list-style: none;}
#select{width: 100px;margin:50px auto;}
#title{width: 100px;height:20px;border: 1px solid #ccc;text-align: center;}
.ul1{width: 100px;display: none;}
.ul1 li{width:100px;height: 20px;border: 1px solid #ccc;text-align: center;}