*{  margin:0;
    padding:0;}
label.error{display:block;
    width:80px;height:40px;font-size:10px;line-height:20px;float:right;color:red;text-align: left;}
.head{
    width: 100%;height:40px ;
    background-color: #e4b9c0;
}
ul{text-align: center;float:right; margin-right: 50px;}
li{list-style: none;display:block;width: 40px;height: 30px;float: left; }
.signForm{
    width:400px;
    height: 400px;
    border: 1px solid #adadad;
    margin: 50px auto;

}
.closebutton{
    float: right;
    width: 13px;
    height: 15px;
}
img{width:13px;height: 15px;display: block;}
.title{
    text-align: center;
    background-color: #337ab7;
}
.form1{width:400px;margin-top: 30px;position: relative;}
.adiv{width: 390px;height:40px;margin-bottom: 10px;margin-left: 10px;}
.sub{width:400px;height:25px; }
.sbm{width:50px;height:25px;background-color: #337ab7;margin: 0 auto;display: block;}
.adiv input{position: absolute;right:100px;}